.wrap {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.App {
  display: flex;
}
.App nav.leftMenu {
  flex: 1;
  background: #b4b2b2;
}
.App main {
  flex: 3;
  background: #dadab8;
}

.houseBtn{
  padding: 3px;
  margin: 5px;
  background: #548fdc;
  color: #fff;
}
.houseBtn:hover{
  background: #82a9e3;
  cursor: pointer;
}

.flatBtn{
  padding: 3px;
  margin: 5px;
  background: #b6efb3;
  color: #fff;
}
.flatBtn:hover{
  background: #c1d5bf;
  cursor: pointer;
}

.wrapMain {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
main .cartClient {
  width: 20%;
  font-size: 14px;
  padding: 10px;
  margin: 10px 0px;
}
main .wrapCart {
  border: 1px solid #82a9e3;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
}